.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin-top: 0px;
}

.leftPanel {
  width: 300px;
  height: 100%;
  overflow-y: auto;
  padding: 20px 0;
  border-right: 1px solid #ccc;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  scroll-behavior: smooth;
  box-shadow: none;
}

.leftPanel::-webkit-scrollbar {
  width: 6px;
}

.leftPanel::-webkit-scrollbar-track {
  background: transparent;
}

.leftPanel::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.rightPanel {
  flex: 1;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  color: black;
}

.rightPanelContent {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.rightPanel.fullWidth {
  width: 100%;
}

.heading {
  color: black;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 30px;
}

.voiceList {
  overflow-y: auto;
  padding-bottom: 100px;
}


.voiceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;

}

.voiceItem:hover {
  background-color: #f8f9fa;
}

.playIcon {
  font-size: 24px;
  color: #000000;
}

.selectedVoices {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectedVoiceCard {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.selectedVoiceCard.activeVoiceCard {
  border: 2px solid #FFFFFF;
  background-color: #E0E0E0;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteIcon {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.addVoiceButton {
  margin-top: 10px;
}

.active {
  border: 2px solid #FFFFFF;
  background-color: #E0E0E0;
}

.selectedVoicesContainer {
  max-height: 400px;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.selectedVoicesContainer::-webkit-scrollbar {
  width: 8px;
}

.selectedVoicesContainer::-webkit-scrollbar-track {
  background: transparent;
}

.selectedVoicesContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Default flex-basis */
.mainContent {
  flex-basis: 7680px;
}

.footer {
  display: flex;
  justify-content: flex-end;  /* Aligns the buttons to the right */
  padding: 20px;
  border-top: 1px solid #ccc;  /* Optional: Adds a border to the top of the footer */
  background-color: white;  /* Background for the footer */
}

.buttonContainer {
  display: flex;
  gap: 10px;  /* Adds spacing between the buttons */
}

@media (max-width: 3330px) {
  .mainContent {
    flex-basis: 3000px;
  }
}

@media (max-width: 3300px) {
  .mainContent {
    flex-basis: 2500px;
  }
}

@media (max-width: 3200px) {
  .mainContent {
    flex-basis: 2000px;
  }
}
@media (max-width: 2800px) {
  .mainContent {
    flex-basis: 1800px;
  }
}

@media (max-width: 2400px) {
  .mainContent {
    flex-basis: 1600px;
  }
}
@media (max-width: 2200px) {
  .mainContent {
    flex-basis: 1400px;
  }
}

@media (max-width: 2000px) {
  .mainContent {
    flex-basis: 1200px;
  }
}

@media (max-width: 1800px) {
  .mainContent {
    flex-basis: 800px;
  }
}

@media (max-width: 1500px) {
  .mainContent {
    flex-basis: 600px;
  }
}

@media (max-width: 1300px) {
  .mainContent {
    flex-basis: 400px;
  }
}

@media (max-width: 1080px) {
  .mainContent {
    flex-basis: 300px;
  }
}

.bootstrapCard {
  border: none;
}

@media (max-height: 1020px) {
  .selectedVoicesContainer {
    max-height: 300px;
  }
}

@media (max-height: 920px) {
  .selectedVoicesContainer {
    max-height: 200px;
  }
}

@media (max-height: 820px) {
  .selectedVoicesContainer {
    max-height: 180px;
  }
  
  .heading {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0 20px;
    font-size: 20px;
  }
}